<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>CREATE</h1>
</div>
<div class="row">
    <div class="container">
        <form action="/create" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="id" placeholder="ID">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="NAME">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="DESCRIPTION">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="price" placeholder="PRICE">
            </div>
            <div class="form-group">
                <label for="category">Choose category</label>
                <select class="btn btn-secondary selectpicker" id="category">
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:text="${category.name}">
                    </option>
                </select>
                <label for="company">Choose company</label>
                <select class="btn btn-secondary selectpicker" id="company">
                    <option th:each="company : ${companies}"
                            th:value="${company.id}"
                            th:text="${company.name}">
                    </option>
                </select>
            </div>
            <p id="space"></p>
            <div class="form-group">
                <input type="submit" value="SEND" class="btn btn-success" role="button">
            </div>
        </form>
    </div>
</div>
</body>
</html>