<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>UPDATE</h1>
</div>
<div class="row">
    <div class="container">
        <form action="/update" method="post">
            <div class="form-group">
                <input type="hidden" name="id" th:value="${product.id}">
                <label for="name">NAME</label>
                <input id="name" class="form-control" type="text" name="name" th:value="${product.name}">
            </div>
            <div class="form-group">
                <label for="price">PRICE</label>
                <input id="price" class="form-control" type="text" name="price" th:value="${product.price}">
            </div>
            <div class="form-group">
                <label for="description">DESCRIPTION</label>
                <input id="description" class="form-control" type="text" name="description"
                       th:value="${product.description}">
            </div>
            <div class="form-group">
                <label for="company">COMPANY</label>
                <select class="form-control selectpicker" id="company">
                    <option value="">Nothing selected</option>
                    <option th:each="company : ${companies}"
                            th:value="${company.id}"
                            th:text="${company.name}">company
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">CATEGORY</label>
                <select class="form-control selectpicker"  id="category">
                    <option value="">Nothing selected</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">category
                    </option>
                </select>
            </div>
            <p id="space"></p>
            <div class="form-group">
                <input type="submit" value="UPDATE" class="btn btn-success" role="button">
            </div>
        </form>
    </div>
</div>
</body>
</html>